<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="listners.Listeners"/>
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="com.jobportal.securecalls.TestGetCallOverJobRepo"/>
            <class name="com.jobportal.securecalls.TestPostCallOverJobRepo"></class>
            <class name="com.jobportal.securecalls.TestPatchCallOverJobRepo"></class>
            <class name="com.jobportal.securecalls.TestDeleteCallOverJobRepo"></class>
            <class name="com.jobportal.securecalls.TestPutCallOverJobRepo"></class>
        </classes>
    </test> <!--
    Test -->
</suite> <!--
Suite -->